/* global.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  /* Ajoutez d'autres styles CSS globaux selon vos besoins */
  